<h3>Concentrado</h3>
<br>
<form>
  <label for="semana">Semana</label>
  <input type="date" class="form-control" name="semana" id="semana">
  <label for="año">Año</label>
  <input type="date" class="form-control" name="año" id="año">
  <button type="submit" class="btn btn-primary">
    Buscar
  </button>
</form>
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr class="filters">
      <th>Grupo</th>
      <th>Meta</th>
      <th>MEP</th>
      <th>Celula</th>
      <th>Culto</th>
      <th>EB</th>
      <th>Celula</th>
      <th>Culto</th>
      <th>EB</th>
      <th>Puntuacion</th>
      <th>Ofrenda</th>
    </tr>
  </thead>
</table>