<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos</h4>
      <label>Correo Electronico</label>
      <input type="mail" 
              class="form-control" 
              id="inputEmail" 
              autofocus
              formControlName="email">
        
      <label>Contraseña</label>
      <input type="password" 
              class="form-control"
              id="inputPassword"
              formControlName="password">
        
      <hr>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.valid"
              *ngIf="!autenticando">Inicie Sesion</button>
      <button type="submit"
              class="btn btn-primary"
              *ngIf="autenticando">Iniciando sesion...</button>
      
    </form>
    <p class="alert alert-danger" 
      *ngIf="mensaje">
      El usuario o Contraseña no es correcto.

    </p>
    <hr>
    
    <p>Si aun no estas registrado, pongase en contacto con el administrador.</p>
  </div>
  <div class="col col-md"></div>
</div>