<h3>Listado de Reportes</h3>
<p class="alert alert-info float-md-left" > Seleccione una fecha del calendario</p>
<a class="btn btn-primary float-md-right" routerLink="/addreportes">Añadir nuevo Reporte <i class="fas fa-list-ul"></i></a>
<button type="button" class="btn btn-outline-info float-md-right" data-toggle="tooltip" data-placement="left" title="Pulsando al botón de la derecha, podrás agregar nuevo reporte.">
    <i class="fas fa-info"></i>
</button>


<input type="date" class="form-control" placeholder="seleccione una fecha"
  [formControl]="campoBusqueda">

<div *ngIf="cargando" class="text-center" style="padding-top:60px">
  <img src="../../../assets/cargando.gif" alt="cargando">
</div>

<div *ngIf="resultados">

<table class="table table-bordered table-hover table-sm" style="margin-top: 10px">
  <thead>
    <tr class="filters">
      <th>Fecha</th>
      <th>Proceso</th>
      <th>Cuatrimestre</th>
      <th>Semana</th>
      <th>Evento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reporte of reportes">
      <td>{{ reporte.fecha }}</td>
      <td>{{ reporte.proceso }}</td>
      <td>{{ reporte.cuatrimestre }}</td>
      <td>{{ reporte.semana }}</td>
      <td>{{ reporte.evento }}</td>

    </tr>
  </tbody>
</table>
</div>
<div *ngIf="noresultados">
  <p class="alert alert-danger">No existen coincidencias</p>
  
</div>