<h3>Listado de Reportes</h3>
<a class="btn btn-primary float-md-right" routerLink="/addreportes">Añadir nuevo Reporte<i class="fas fa-user-plus"></i></a>
<a class="btn btn-secondary float-md-left" routerLink="/">Atras <i class="fas fa-arrow-circle-left"></i></a>
<br>

<table class="table table-bordered table-hover table-sm" style="margin-top: 40px">
  <thead>
    <tr class="filters">
      <th>Fecha</th>
      <th>Semana-Leccion</th>
      <th>Verbo-Meta</th>
      <th>Evento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reporte of reportes">
      <td>{{ reporte.fecha }}</td>
      <td>{{ reporte.semanaleccion }}</td>
      <td>{{ reporte.verbo }}</td>
      <td>{{ reporte.evento }}</td>
      
    </tr>
  </tbody>
</table>