<h3>Listado de Usuarios</h3>
<!-- <button class="btn btn-primary" (click)="showSuccess()">Toastr Tester</button> -->

<a class="btn btn-primary float-md-right" routerLink="/addusuarios">Añadir nuevo Usuario <i class="fas fa-users"></i></a>
<button type="button" class="btn btn-outline-info float-md-right" data-toggle="tooltip" data-placement="left" title="Pulsando al botón de la derecha, podrás agregar nuevo usuario.">
    <i class="fas fa-info"></i>
</button>
      <input type="search" class="form-control" placeholder="Teclee tipo de usuario...."
      [formControl]="campoBusqueda">
<div *ngIf="cargando" class="text-center" style="padding-top:60px">
  <img src="../../../assets/cargando.gif" alt="cargando">
</div>
<div *ngIf="resultados">
<table class="table table-bordered table-hover table-sm " style="margin-top: 10px">
  <thead>
    <tr class="filters">
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Tipo de usuario</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.direccion }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.tipousuario }}</td>
        
        <td>
          <button type="button" class="btn btn-success"
                  routerLink="/editusuarios/{{ usuario.id$ }}"><i class="fas fa-pencil-alt"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-danger"
                (click)="eliminarUsuario(usuario.id$)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="noresultados">
  <p class="alert alert-danger">no existen coincidencias</p>
</div>