<h3>Informes</h3>

<a class="btn btn-primary float-md-right" routerLink="/addinformes">Añadir nuevo Informe <i class="fas fa-user-plus"> </i></a>
<br>
<form>
  <label for="semana">Semana</label>
  <input type="date" class="form-control" name="semana" id="semana">
  <label for="año">Año</label>
  <input type="date" class="form-control" name="año" id="año">
  <button type="submit" class="btn btn-primary">
    Buscar
  </button>
</form>
<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr class="filters">
      <th>Grupo</th>
      <th>Meta</th>
      <th>MEP</th>
      <th>Celula</th>
      <th>Culto</th>
      <th>EB</th>
      <th>Celula</th>
      <th>Culto</th>
      <th>EB</th>
      <th>Puntuacion</th>
      <th>Ofrenda</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let informe of informes">
      <td>{{ informe.lidercelula }}</td>
      <td>{{ informe.meta }}</td>
      <td>{{ informe.mepcol }}</td>
      <td>{{ informe.celulacol }}</td>
      <td>{{ informe.ebcol }}</td>
      <td>{{ informe.cultocol }}</td>
      <td>{{ informe.celulaami }}</td>
      <td>{{ informe.ebami }}</td>
      <td>{{ informe.cultoami }}</td>
      <td>{{ informe.puntos }}</td>
      <td>{{ informe.dinero }}</td>


    </tr>
  </tbody>
</table>