<h3>Manual de usuario</h3>
<div class="container">
<div class="col-md col-md-10">
  <p class="alert alert-info">Nota: Si después de haber leído este manual, sientes que no ha quedado del todo claro, no dudes a acercarte a un administrador
    para que puedas recibir el apoyo necesario para resolver la situación.</p>
  <div class="col-md col-md-10">
    <p>En esta sección de Ayuda, podrás encontrar un manual que explicará el contenido de CelulaApp. Con la finalidad de resolver
      las dudas que pudieran existir, podrás acceder a este apartado para documentarte y resolver posibles conflictos que
      tengas con el entorno de la aplicación.</p>


    <img src="../../../assets/login.png" style="height:70%; width:70%;" alt="">

    <h4>Inicio Sesión</h4>
    <p>Este es un sistema de autentificación de inicio de sesión. Una vez que estemos dentro de este apartado, lo que tenemos que hacer es introducir un correo electrónico y contraseña.
    </p>
    <p>
      <strong>Correo Electrónico (Flecha roja):</strong> En este campo debemos introducir un correo valido, que cumpla con nombre y dominio, por ejemplo “ejemplo@ejemplo.com”. </p>
    <p>
      <strong>Contraseña (Flecha azul):</strong> En este campo debemos introducir la contraseña que se nos tomó, para realizar el registro. Esta tiene que estar validada con: un al menos un número, una mayúscula y una minúscula, además de contar con una longitud de 10 caracteres, por ejemplo “Ejemplo10”.</p>
    <p>
      <strong>Inicie Sesión: (Flecha verde): </strong> En caso de que nos haya faltado alguno de los datos anteriores, o no se encuentren validados, el botón no se activara. Una vez ingresados los datos, procederemos a solicitar acceso al sistema. Si el sistema nos autentifica, podremos acceder. Cuando introduzcamos algún dato equivocado, nos aparecerá un mensaje diciéndonos que algunos de los datos se encuentran mal y debemos intentar de nuevo.
    </p>
    <img src="../../../assets/loginmal.png" style="height:70%; width:70%;" alt="">
  </div>
  <hr>
  <div class="col-md col-md-10">
    <h4>Inicio</h4>
    <p>En el apartado de Inicio, podremos ver que contamos con una barra de navegación, con distintos componentes, tales como Inicio, Usuarios, Células, Reportes, Informes, Ayuda, así como un “CelulaApp” y un botón de Cerrar Sesión.
        Para acceder a los módulos existentes en el sistema, podemos hacerlo desde la barra de navegación o bien, por medio de los botones que se muestran en pantalla.
    </p>
    <img src="../../../assets/inicio.png"  alt="">
    <p>Si queremos entrar a ver los <strong>usuarios</strong>, agregar usuarios, borrar, editar (solo, si eres administrador), podemos hacerlo desde el apartado de la barra de navegación (superior) o podemos dar clic al botón de color naranja.</p>
    <p>Si queremos entrar a ver las <strong>células</strong> activas, agregar células, borrar, editar (solo, y solo si eres administrador), podemos hacerlo desde el apartado de la barra de navegación (superior) o podemos hacer clic al botón de color rojo.</p>
    <p>Si queremos entrar a ver los <strong>reportes</strong>, agregar reportes, podemos hacerlo desde el aparado de la barra de navegación (superior) o podemos hacer clic al botón de color azul.</p>
    <p>Si queremos entrar a ver los <strong>informes</strong> y subir nuestros informes, lo podemos hacer desde el apartado de la barra de navegación (superior) o podemos hacer clic al botón de color verde.</p>
    <p>Si queremos es <strong>ayuda</strong>, resolver nuestras dudas o algún detalle no ha quedado claro. Antes de ir a pedir ayuda con un administrador o supervisor, te invito a acceder desde la barra de navegación (superior) o desde el botón de color café.</p>
    <p>Una vez que hayamos terminado de realizar nuestras actividades, deberemos <strong>CERRAR SESIÓN</strong>, desde el botón de color rojo que está en la parte superior que dice “Cerrar Sesión”.</p>
  </div>
  <hr>
  <div class="col-md col-md-10">
    <h4>Usuarios</h4>
    <p>En el apartado de usuarios podremos ver los usuarios que están registrados en el sistema. Al mismo tiempo este módulo funciona como una especie de directorio, donde los hermanos activos en la red de células (y no activos), se les puede registrar en la base de datos, eso sin darlos de alta. </p>
    <img src="../../../assets/usuariosbusqueda.png" style="height:70%; width:70%;" alt="">
  
    <p>Por otra parte, podremos buscar a los hermanos por su nombre, tal y como se agregó en el momento de registro. En caso de no recordar cómo se guardó el campo Nombre, el sistema nos dará a conocer las posibles coincidencias.</p>
    <img src="../../../assets/usuariosbusquedafail.png" style="height:70%; width:70%;" alt="">
    <p>Si necesitamos editar a algún usuario, lo podremos hacer pulsando en el botón verde de cada usuario registrado.</p>
    <img src="../../../assets/editarusuariobusqueda.png" style="height:90%; width:90%;" alt="">
    <p>Al pulsar el botón, nos dirigirá al formulario de Añadir Usuario, pero con los campos prellenados, para solo modificar lo que necesitemos para al finalizar y pulsar el botón de Guarda cambios.</p>
    <img src="../../../assets/editarusuario.png" style="height:70%; width:70%;" alt="">
    <p>En caso de no existir, nos dará un mensaje con una leyenda de que no se han encontrado coincidencias.</p>
    <p class="alert alert-danger">Solo deberán estar dadas de alta, las personas que están involucradas en el llenado de los informes de célula. </p>
    <p>Si queremos dar alta a un usuario, tendremos que conocer el Nombre, Dirección, Teléfono, Email, así como una contraseña que cumpla con los criterios de validación de ‘al menos una mayúscula, minúscula, un número y una longitud de 10 caracteres’. Solamente si hemos llenado todos los campos del formulario, podremos Añadir Usuario, en caso de que nos falte algún dato, el botón permanecerá desactivado. Si nos brincamos algún dato, estará desactivado. La única manera de poder agregar es llenando todos los datos del formulario.</p>
    <img src="../../../assets/agregarusuario.png" style="height:70%; width:70%;" alt="">
    <img src="../../../assets/agregarusuariofail.png" style="height:70%; width:70%;" alt="">
    <p>Una vez que pulsemos en Añadir Usuario, el sistema nos felicitará y nos mostrar un mensaje diciéndonos que nos dirigirá a confirmar el correo y establecer la contraseña.</p>
    <img src="../../../assets/confirmarusuario.png" style="height:70%; width:70%;" alt="">
    <p>Si pulsamos en Aceptar, al usuario nos pedirá confirmemos el correo electrónico que creemos una contraseña.</p>
    <img src="../../../assets/registrarusuario.png" style="height:70%; width:70%;" alt="">
    <p>Una vez que hayamos terminado de realizar nuestras actividades, deberemos <strong>CERRAR SESIÓN</strong>, desde el botón de color rojo que está en la parte superior que dice “Cerrar Sesión”.</p>
  </div>
  <hr>
  
</div>
</div>