<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Añadir nuevo informe</h2>
    <a class="btn btn-warning float-md-right" routerLink="/informes">
      <i class="fas fa-undo-alt"></i> Regresar</a>

    <form [formGroup]="informeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="lidercelula">Lider</label>
        <input type="text" class="form-control" id="lidercelula" formControlName="lidercelula">
        <p class="alert alert-danger" *ngIf="informeForm.controls.lidercelula.invalid && 
                      informeForm.controls.lidercelula.touched">
          El campo Lider es obligatorio.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-md-3">
            <div class="form-group">
              <label for="semanaleccion">Fecha</label>
              <input type="date" class="form-control" id="semanaleccion" formControlName="semanaleccion">
              <p class="alert alert-danger" *ngIf="informeForm.controls.semanaleccion.invalid && 
                      informeForm.controls.semanaleccion.touched">
                El campo Fecha es obligatorio.
              </p>
            </div>
          </div>
          <div class="col col-md-3">
            <div class="form-group">
              <label for="evento">Evento</label>
              <select class="form-control" id="evento" formControlName="evento">
                <option value="">Seleccione evento...</option>
                <option value="Encuentro">Encuentro</option>
                <option value="FiestadelAmigo">Fiesta del Amigo</option>
                <option value="FiestadelaCosecha">Fiesta de la Cosecha</option>
              </select>
              <p class="alert alert-danger" *ngIf="informeForm.controls.evento.invalid && 
                              informeForm.controls.evento.touched">
                El campo Evento es obligatorio.
              </p>
            </div>
          </div>
          <div class="col col-md-3">
            <div class="form-group">
              <label for="sector">sector</label>
              <select class="form-control" id="sector" formControlName="sector">
                <option value="">Seleccione sector...</option>
                <option value="sector 1">sector 1</option>
                <option value="sector 2">sector 2</option>
                <option value="sector 3">sector 3</option>
              </select>
              <p class="alert alert-danger" *ngIf="informeForm.controls.sector.invalid && 
                                informeForm.controls.sector.touched">
                El campo sector es obligatorio.
              </p>
            </div>
          </div>
          <div class="col col-md-3">
            <div class="form-group">
              <label for="semana">Semana</label>
              <select class="form-control" id="semana" formControlName="semana">
                <option value="">Seleccione semana...</option>
                <option value="1 Orar">1 - Orar</option>
                <option value="2 Anotar">2 - Anotar</option>
                <option value="3 Contactar">3 - Contactar</option>
                <option value="4 Confirmar">4 - Confirmar</option>
                <option value="5 Desatar">5 - Desatar</option>
                <option value="6 Llevar">6 - Llevar</option>
                <option value="7 Sostener">7 - Sostener</option>
                <option value="8 Motivar">8 - Motivar</option>
                <option value="9 Afirmar">9 - Afirmar</option>
                <option value="10 Preparar">10 - Preparar</option>
                <option value="11 Santificar">11 - Santificar</option>
                <option value="12 Concientizar">12 - Concientizar</option>
                <option value="13 Conservar">13 - Conservar</option>
                <option value="14 Doctrinar">14 - Doctrinar</option>
                <option value="15 Discipular">15 - Discipular</option>
                <option value="16 Bautizar">16 - Bautizar</option>
              </select>
              <p class="alert alert-danger" *ngIf="informeForm.controls.semana.invalid &&
              informeForm.controls.semana.touched">
                El campo semana es obligatorio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="form-group">
              <label for="mepcol">Colaboradores al MEP</label>
              <input type="number" class="form-control" id="mepcol" formControlName="mepcol">
              <p class="alert alert-danger" *ngIf="informeForm.controls.mepcol.invalid && 
                      informeForm.controls.mepcol.touched">
                El campo Colaboradores al MEP es obligatorio.
              </p>
            </div>
            <div class="form-group">
              <label for="celulacol">Colaboradores a la célula</label>
              <input type="number" class="form-control" id="celulacol" formControlName="celulacol">
              <p class="alert alert-danger" *ngIf="informeForm.controls.celulacol.invalid && 
                      informeForm.controls.celulacol.touched">
                El campo Colaboradores a la celula es obligatorio.
              </p>
            </div>
            <div class="form-group">
              <label for="ebcol">Colaboradores E.B.</label>
              <input type="number" class="form-control" id="ebcol" formControlName="ebcol">
              <p class="alert alert-danger" *ngIf="informeForm.controls.ebcol.invalid && 
                      informeForm.controls.ebcol.touched">
                El campo Colaboradores E.B. es obligatorio.
              </p>
            </div>
            <div class="form-group">
              <label for="cultocol">Colaboradores al culto</label>
              <input type="number" class="form-control" id="cultocol" formControlName="cultocol">
              <p class="alert alert-danger" *ngIf="informeForm.controls.cultocol.invalid && 
                        informeForm.controls.cultocol.touched">
                El campo Colaboradores al culto es obligatorio.
              </p>
            </div>
          </div>
          <hr>
          <div class="col-4 col-md-4">
            <div class="form-group">
              <label for="celulaami">Amigos a la celula</label>
              <input type="number" class="form-control" id="celulaami" formControlName="celulaami">
              <p class="alert alert-danger" *ngIf="informeForm.controls.celulaami.invalid && 
                      informeForm.controls.celulaami.touched">
                El campo Amigos a la celula es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="ebami">Amigos E.B.</label>
              <input type="number" class="form-control" id="ebami" formControlName="ebami">
              <p class="alert alert-danger" *ngIf="informeForm.controls.ebami.invalid && 
                      informeForm.controls.ebami.touched">
                El campo Amigos E.B. es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="cultoami">Amigos al Culto</label>
              <input type="number" class="form-control" id="cultoami" formControlName="cultoami">
              <p class="alert alert-danger" *ngIf="informeForm.controls.cultoami.invalid && 
                      informeForm.controls.cultoami.touched">
                El campo Amigos al Culto es obligatorio.
              </p>
            </div>
          </div>
          <div class="col-4 col-md-4">
            <div class="form-group">
              <label for="epGanar">EP Ganar</label>
              <input type="number" class="form-control" id="epGanar" formControlName="epGanar">
              <p class="alert alert-danger" *ngIf="informeForm.controls.epGanar.invalid && 
                        informeForm.controls.epGanar.touched">
                El campo Amigos a la celula es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="epAfirmar">EP Afirmar</label>
              <input type="number" class="form-control" id="epAfirmar" formControlName="epAfirmar">
              <p class="alert alert-danger" *ngIf="informeForm.controls.epAfirmar.invalid && 
                        informeForm.controls.epAfirmar.touched">
                El campo EP Afirmar es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="epDiscipular">EP Discipular</label>
              <input type="number" class="form-control" id="epDiscipular" formControlName="epDiscipular">
              <p class="alert alert-danger" *ngIf="informeForm.controls.epDiscipular.invalid && 
                        informeForm.controls.epDiscipular.touched">
                El campo EP Discipular es obligatorio.
              </p>
            </div>
          </div>
        </div>

        <hr>
        <div class="form-group">
          <label for="puntos">Puntación</label>
          <input type="number" class="form-control" id="puntos" formControlName="puntos">
          <p class="alert alert-danger" *ngIf="informeForm.controls.puntos.invalid && 
                      informeForm.controls.puntos.touched">
            El campo Puntación es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="dinero">Ofrenda</label>
          <input type="number" class="form-control" id="dinero" formControlName="dinero">
          <p class="alert alert-danger" *ngIf="informeForm.controls.dinero.invalid && 
                      informeForm.controls.dinero.touched">
            El campo Ofrenda es obligatorio.
          </p>
        </div>
        <div class="form-group">
          <label for="meta">Logro Meta</label>
          <input type="number" class="form-control" id="meta" formControlName="meta">
          <p class="alert alert-danger" *ngIf="informeForm.controls.meta.invalid && 
                      informeForm.controls.meta.touched">
            El campo Logro Meta es obligatorio.
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!informeForm.valid">
        Añadir Informe
      </button>
      <a class="btn btn-danger" routerLink="/informes">Cancelar</a>
      <p class="alert alert-danger" *ngIf="!informeForm.valid">
        Por favor de llenar todos los campos obligatorios.
      </p>
    </form>
  </div>
  <div class="col col-md"></div>
</div>