<!-- <div class="text-center" style:"margin: 40px">
  <h3>Bienvenido a Celula App</h3>
</div> -->
<!-- <div class="text-center" style:"margin: 40px" *ngIf="!isAuth()">
  <h4>Inicie sesion para acceder</h4>
</div> -->
<div class="container text-center">

  <div class="row" *ngIf="isAuth()">
    <div class="col-md col-md-4">
      <a routerLink="/usuarios" style="text-decoration: none">
        <div class="rectorange">
          <p style="font-size: 20px; padding-top: 15px">
            <i class="fas fa-users"></i> Usuarios</p>
        </div>
      </a>
    </div>
    <div class="col-md col-md-4">
      <a routerLink="/celulas" style="text-decoration: none">
        <div class="rectred">
          <p style="font-size: 20px; padding-top: 15px">
            <i class="fas fa-home"></i> Celulas</p>
        </div>
      </a>
    </div>
    <div class="col-md col-md-4">
      <a routerLink="/reportes" style="text-decoration: none">
        <div class="rectblue">
          <p style="font-size: 20px; padding-top: 15px">
            <i class="fas fa-list-ul"></i> Reportes</p>
        </div>
      </a>
    </div>

  </div>
  <div class="row">
    <div class="col-md col-md-6">
      <a routerLink="/informes" style="text-decoration: none">
        <div class="rectgreen">
          <p style="font-size: 20px; padding-top: 15px">
            <i class="far fa-edit"></i> Informes</p>
        </div>
      </a>
    </div>
    <div class="col-md col-md-6">
      <a routerLink="/ayuda" style="text-decoration: none">
        <div class="rectbrown">
          <p style="font-size: 20px; padding-top: 15px">
            <i class="far fa-question-circle"></i> Ayuda</p>
        </div>
      </a>
    </div>
  </div>


</div>