<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Editar Celula</h2>
    <a class="btn btn-warning float-md-right" routerLink="/celulas">Regresar</a>
    <form [formGroup]="celulaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nocelula"># Celula</label>
        <input type="number"
                class="form-control"
                id="nocelula"
                formControlName="nocelula"
                [(ngModel)]="celula.nocelula">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.nocelula.invalid &&
                celulaForm.controls.nocelula.touched">
            El campo # Celula es obligatorio.
          </p>
      </div>
      <div class="form-group">
        <label for="lider">Lider</label>
        <input type="text"
                class="form-control"
                id="lider"
                formControlName="lider"
                [(ngModel)]="celula.lider">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.lider.invalid &&
                      celulaForm.controls.lider.touched">
            El campo Lider es obligatorio.
          </p>
      </div>
      <div class="form-group">
          <label for="nocolaboradores"># Colaboradores</label>
          <input type="number"
                  class="form-control"
                  id="nocolaboradores"
                  formControlName="nocolaboradores"
                  [(ngModel)]="celula.nocolaboradores">
            <p class="alert alert-danger"
                *ngIf="celulaForm.controls.nocolaboradores.invalid &&
                        celulaForm.controls.nocolaboradores.touched">
              El campo # Colaboradores es obligatorio.
            </p>
        </div>
      
      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text"
                class="form-control"
                id="direccion"
                formControlName="direccion"
                [(ngModel)]="celula.direccion">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.direccion.invalid &&
                celulaForm.controls.direccion.touched">
            El campo Direccion es obligatorio.
          </p>
      </div>
      <div class="form-group">
        <label for="dhreunion">Dia-Hora reunion</label>
        <input type="date"
                class="form-control"
                id="dhreunion"
                formControlName="dhreunion"
                [(ngModel)]="celula.dhreunion">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.dhreunion.invalid &&
                celulaForm.controls.dhreunion.touched">
            El campo Dia-Hora reunion es obligatorio.
          </p>
      </div>
      <div class="form-group">
        <label for="pastorzona">Pastor de Zona</label>
        <input type="text"
                class="form-control"
                id="pastorzona"
                formControlName="pastorzona"
                [(ngModel)]="celula.pastorzona">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.pastorzona.invalid &&
                celulaForm.controls.pastorzona.touched">
            El campo Pastor de Zona es obligatorio.
          </p>
      </div>
      <div class="form-group">
        <label for="supaux">Supervisor Auxiliar</label>
        <input type="text"
                class="form-control"
                id="supaux"
                formControlName="supaux"
                [(ngModel)]="celula.supaux">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.supaux.invalid &&
                celulaForm.controls.supaux.touched">
            El campo Supervisor Auxiliar es obligatorio.
          </p>
      </div>
      <div class="form-group">
        <label for="supsec">Supervisor Sector</label>
        <input type="text"
                class="form-control"
                id="supsec"
                formControlName="supsec"
                [(ngModel)]="celula.supsec">
          <p class="alert alert-danger"
              *ngIf="celulaForm.controls.supsec.invalid &&
                celulaForm.controls.supsec.touched">
              El campo Supervisor Sector es obligatorio.
          </p>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!celulaForm.valid">
              Añadir Celula
      </button>
      <a class="btn btn-danger" routerLink="/celulas">Cancelar</a>
      <p class="alert alert-danger"
      *ngIf="!celulaForm.valid">
        Por favor de llenar todos los campos obligatorios.
      </p>
      
    </form>
    </div>
  <div class="col col-md"></div>
</div>